:root {
    --light-blue: #0d9e8e;
}

body,
#app {
    background: #002930;
    background: #00353f;
    background: -moz-radial-gradient(
        center,
        ellipse cover,
        #00353f 0%,
        #001a1f 100%
    );
    background: -webkit-radial-gradient(
        center,
        ellipse cover,
        #00353f 0%,
        #001a1f 100%
    );
    background: radial-gradient(ellipse at center, #003e4a 0%, #001a1f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00353f', endColorstr='#001a1f',GradientType=1 );
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    color: var(--light-blue);
}

.action-buttons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    position: relative;
    z-index: 2;
}

.action-buttons button {
    background: #001c20;
    padding: 14px 2px;
    color: #098275;
    border: 0px;
    font-size: 18px;
    font-weight: 400;
    border-right: 1px solid #00353d;
    font-family: "Montserrat", sans-serif;
}

.action-buttons button:focus {
    outline: none;
}

.action-buttons .toggle-action {
    background: #002930;
    font-size: 26px;
    padding: 9px 2px;
    color: var(--light-blue);
}

.description-wrap {
    padding: 20px 0px 5px;
    text-align: center;
    color: #fff;
}

.calculated-values {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    font-weight: 100;
}

.block-label {
    font-size: 15px;
    font-weight: 700;
    opacity: 0.4;
}

.predicted-block-wrap .calculated-values {
    font-weight: 500;
    color: #0e9e8e;
}

input[type="range"] {
    -webkit-appearance: none;
    margin: 14px 0 12px;
    width: 100%;
    padding: 0px 10px;
    background: #0e9e8e;
    box-sizing: border-box;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: var(--light-blue);
    border-radius: 0px;
    border: 0px;
}
input[type="range"]::-webkit-slider-thumb {
    border: 0px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #002930;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -16.5px;
    border: 2px solid var(--light-blue);
}
input[type="range"]:focus::-webkit-slider-runnable-track {
    background: var(--light-blue);
}
input[type="range"]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: var(--light-blue);
    border-radius: 0px;
    border: 0px;
}
input[type="range"]::-moz-range-thumb {
    border: 2px solid var(--light-blue);
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #002930;
    cursor: pointer;
}

input[type="range"]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: var(--light-blue);
    border-radius: 0px;
    border: 0px;
}
input[type="range"]::-ms-fill-lower {
    background: var(--light-blue);
    border: 0px;
    border-radius: 0px;
}
input[type="range"]::-ms-fill-upper {
    background: var(--light-blue);
    border: 0px;
    border-radius: 0px;
}
input[type="range"]::-ms-thumb {
    border: 2px solid var(--light-blue);
    height: 50px;
    width: 35px;
    border-radius: 10px;
    background: var(--light-blue);
    cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
    background: var(--light-blue);
}
input[type="range"]:focus::-ms-fill-upper {
    background: var(--light-blue);
}

.range-input-wrap {
    padding: 15px 0px 10px;
    text-align: center;
}

.range-input-label {
    margin-bottom: 10px;
    font-weight: 700;
    opacity: 0.4;
}

.block-wrap {
    padding-bottom: 20px;
}

.predicted-block-wrap {
    background: rgba(0, 0, 0, 0.15);
}

.percentage-block-wrap {
    background: rgba(0, 0, 0, 0.4);
    padding: 20px 0px 25px;
}
